<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a routerLink="products" class="btn btn-outline-warning btn-lg firstButton">Products</a>
    </div>
    <div class="item">
      <a href="" class="btn btn-outline-info btn-lg">Electronics</a>
    </div>
    <div class="item">
      <a href="" class="btn btn-outline-danger btn-lg">Fashions</a>

    </div>
    <div class="item">
      <a href="" class="btn btn-outline-secondary btn-lg">Jeweleries</a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="" width="100px">
        <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;">{{item.title}}</h5>
        <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100ch;">{{item.description}}</p>
        <p><strong>Price:</strong> ${{item.price}}</p>
        <button class="btn btn-primary" (click)="addToCart(item)">Add to card</button>
    </div>
    </ng-container>

  </div>
</div>
